In [21]:
import pandas as pd
df = pd.read_csv("F:/SEMESTER 2/PRAKTIKUM PROBABILITAS DAN STATISTIKA/Nama Angkatan.csv", sep=';')
df

       Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Shalwa      P      2024           160                30          Jakpus
1     Silvi      P      2024           162                15          Cakung
2     Sonia      P      2024           164                60          Bekasi
3      Egla      P      2024           155                60          Bekasi
4    Sintia      P      2024           165                15          Jakbar
5     Delia      P      2024           154                60          Bekasi
6    Charin      P      2024           156                15          Jakbar
7    Sheila      P      2024           156                60          Jaktim
8    Naufal      L      2024           165                25          Jakbar
9     Akbar      L      2024           165                60           Depok
10    Damar      L      2024           168                80         Tangsel
11   Fathir      L      2024           180                80         Tangsel
12    Hasna      P      2024           164                45          Jakbar
13    Faris      L      2024           180                65          Bekasi
14   Marvel      L      2024           165                65          Jakbar
15    Tista      P      2024           159                60          Bekasi
16    Fajar      L      2024           162                60         Bandung
17    Shafa      P      2024           165                65          Bekasi
18    Valen      L      2024           165                70           Papua
19  Charles      L      2024           170                45          Jaksel

In [25]:
import pandas as pd
df = pd.read_excel("F:/SEMESTER 2/PRAKTIKUM PROBABILITAS DAN STATISTIKA/Nama Angkatan.xlsx")
df

       Nama Gender  Angkatan  Tinggi Badan  Waktu Perjalanan Wilayah Tinggal
0    Shalwa      P      2024           160                30          Jakpus
1     Silvi      P      2024           162                15          Cakung
2     Sonia      P      2024           164                60          Bekasi
3      Egla      P      2024           155                60          Bekasi
4    Sintia      P      2024           165                15          Jakbar
5     Delia      P      2024           154                60          Bekasi
6    Charin      P      2024           156                15          Jakbar
7    Sheila      P      2024           156                60          Jaktim
8    Naufal      L      2024           165                25          Jakbar
9     Akbar      L      2024           165                60           Depok
10    Damar      L      2024           168                80         Tangsel
11   Fathir      L      2024           180                80         Tangsel
12    Hasna      P      2024           164                45          Jakbar
13    Faris      L      2024           180                65          Bekasi
14   Marvel      L      2024           165                65          Jakbar
15    Tista      P      2024           159                60          Bekasi
16    Fajar      L      2024           162                60         Bandung
17    Shafa      P      2024           165                65          Bekasi
18    Valen      L      2024           165                70           Papua
19  Charles      L      2024           170                45          Jaksel